openapi: 3.0.1
info:
  contact:
    email: info@irisnet.de
    name: irisnet GmbH
    url: https://shop.airisprotect.com
  description: |-
    Artificial Intelligence (AI) for image- and video-processing in real-time. This is an interactive documentation where you can quickly look up the endpoints and their schemas, while having the opportunity to try things out for yourself.

    In the list below, you can see the available endpoints of the API, which can be expanded by clicking on them. Each expanded endpoint lists the request parameters (if available) and the request body (if available). The request body can list some example bodies and the schema, explaining each model in detail.

    Additionally you'll find a 'Try it out' button that allows you to enter your custom parameters and custom body and execute that against the API. <b>Be sure to enter your license key to authorize the requests before using this documentation interactively.</b>

    The responses section in the expanded endpoint lists the possible responses with their corresponding status codes. If you've executed an API call it will also show you the response from the server.

    Underneath the endpoints you'll find the model schemas. These are the models used for the requests and responses. If you click on the right arrow, you can expand the model and get a description of the model and the model parameters. For nested models, you can keep clicking the right arrow for further details.

    Clicking the link below the title at the top of this page opens the [OpenAPI specification](https://swagger.io/specification/) (OAS3) in JSON format. The OAS3 Spec allows the generation of clients in many programming languages. There are several free client generators available that can be used to get started easily.
  termsOfService: https://shop.airisprotect.com/terms-and-conditions
  title: Irisnet API
  version: v2
servers:
- description: Live Server
  url: https://api.irisnet.de
tags:
- description: Configure the basics of the AI.
  name: Configuration Management
- description: Configure the AI in detail with specific parameters.
  name: Detailed configuration parameters
- description: Check images or a moving images with the AI.
  name: AI check operations
- description: Retrieve license key information or find out how many credits a check
    operation will cost.
  name: Balance endpoints
paths:
  /v2/config/parameters/{configId}:
    delete:
      description: Clears the parameters and restores the defaults for all classifications.
      operationId: clearParameters
      parameters:
      - description: The id of the configuration where the parameters should be deleted.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "204":
          description: successful operation.
      security:
      - LICENSE-KEY: []
      summary: Delete the parameters of the AI configuration.
      tags:
      - Detailed configuration parameters
      x-accepts:
      - application/json
    get:
      description: Returns the parameters stored in the given configuration.
      operationId: getParameters
      parameters:
      - description: The id of the configuration for which the parameters are being
          requested.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configuration with given id not found or parameters for configuration
            not found.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParamSet'
          description: successful operation.
      security:
      - LICENSE-KEY: []
      summary: Get the parameters of the AI configuration.
      tags:
      - Detailed configuration parameters
      x-accepts:
      - application/json
    post:
      description: Save or modify the parameters stored in the AI configuration.
      operationId: setParameters
      parameters:
      - description: The id of the configuration where the parameters should be added.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Reject explicit content:
                description: Rejects and blurs all classifications showing explicit
                  content. (Requires 'nudityCheck' prototype)
                value:
                  params:
                  - classification: breast
                    drawMode: 3
                  - classification: vulva
                    drawMode: 3
                  - classification: penis
                    drawMode: 3
                  - classification: vagina
                    drawMode: 3
                  - classification: buttocks
                    drawMode: 3
                  - classification: anus
                    drawMode: 3
                  - classification: toy
                    drawMode: 3
                  - classification: oral
                    drawMode: 3
                  - classification: penetration
                    drawMode: 3
              Mask children:
                description: Draws a black mask over children without rejecting. (Requires
                  'nudityCheck' and 'ageEstimation' prototypes)
                value:
                  params:
                  - classification: child
                    min: 0
                    max: -1
                    drawMode: 2
                    grey: 255
              Profile picture:
                description: Only allow pictures with one face. (Requires 'nudityCheck'
                  prototype)
                value:
                  params:
                  - classification: face
                    min: 1
                    max: 1
              Reject breast showing nipple:
                description: "Allow breasts not showing nipple (e.g. cleavage), but\
                  \ reject and blur breasts showing nipple. (Requires 'nudityCheck'\
                  \ and 'nippleCheck' prototypes)"
                value:
                  params:
                  - classification: breast
                    ignore: true
                  - classification: hasNipple
                    min: 0
                    max: 0
                    drawMode: 6
              Abort on severity:
                description: Aborts a video or stream check when a severity of '200'
                  is reached. Only 'breast' and 'buttocks' is considered OK in this
                  example.
                value:
                  abortOnSeverity: 200
                  params:
                  - classification: breast
                    severity: 150
                  - classification: buttocks
                    severity: 150
                  - classification: vulva
                    severity: 200
                  - classification: penis
                    severity: 200
                  - classification: vagina
                    severity: 200
                  - classification: anus
                    severity: 200
                  - classification: oral
                    severity: 200
                  - classification: penetration
                    severity: 200
              Event duration:
                description: Configure the event duration of 250ms for the child classification
                  before the rule is considered to be broken.
                value:
                  minDuration: 250
                  params:
                  - classification: child
                    min: 0
                    max: 0
            schema:
              $ref: '#/components/schemas/ParamSet'
        description: Define the parameters to use for an AI check operation. View
          the _ParamSet_ and _Param_ schema to see the available parameters.
        required: true
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParamSet'
          description: successful operation. Previous user configured parameters are
            returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: Bad request. Check for badly formatted request body.
        "204":
          description: successful operation. No previously configured parameters exist.
      security:
      - LICENSE-KEY: []
      summary: Set parameters to the given AI configuration.
      tags:
      - Detailed configuration parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/config/:
    get:
      description: Returns a list of all configurations with its id's and configured
        prototypes. There is a limit on how many configurations can be stored per
        license key. You can find this limit in the response of the info operation.
      operationId: getAllConfigs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Config'
                type: array
          description: successful operation.
      security:
      - LICENSE-KEY: []
      summary: List all saved AI configurations.
      tags:
      - Configuration Management
      x-accepts:
      - application/json
    post:
      description: Create a new AI configuration with the desired prototypes.
      operationId: setConfig
      requestBody:
        content:
          application/json:
            examples:
              All checks:
                description: This example shows the configuration with all checks/prototypes.
                value:
                  prototypes:
                  - nudityCheck
                  - ageEstimation
                  - illegalSymbols
                  - attributesCheck
                  - nippleCheck
                  - textRecognition
                  - bodyAttributes
                  - unwantedSubstances
                  - violenceCheck
                  - selfieCheck
              Most common checks:
                description: This example shows a typical configuration to start with.
                value:
                  prototypes:
                  - nudityCheck
                  - ageEstimation
                  - attributesCheck
                  - textRecognition
              Full identity document check:
                description: This example shows how to configure an identity document
                  check with automated document recognition and a biometric check
                  of the provided selfie
                value:
                  kycCheckParameters:
                  - identityDocumentCheck
                  - automatedDocumentRecognition
                  - biometricCheck
              Identity document check without automated document recognition:
                description: This example shows how to configure an identity document
                  check and a biometric check of the provided selfie
                value:
                  kycCheckParameters:
                  - identityDocumentCheck
                  - biometricCheck
            schema:
              $ref: '#/components/schemas/Config'
        description: Define the prototypes to use for an AI check operation. View
          the _Config_ schema to see the available prototypes.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
          description: successful operation.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: Maximum number of stored AI configurations reached.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: Bad request. Check for badly formatted request body.
      security:
      - LICENSE-KEY: []
      summary: Create a new AI configuration.
      tags:
      - Configuration Management
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/check-video/{configId}:
    post:
      description: |-
        An empty response is returned immediately. The actual body (_CheckResult_ schema) is send to the _callbackUrl_ after the AI has finished processing.

        <b>NOTICE: Depending on your configuration and parameters this operation can be quite expensive on your credit balance.<b>
      operationId: checkVideo
      parameters:
      - description: The configuration id from the Basic Configuration operations.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The url to the video that needs to be checked.
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Set the detail level of the response.
           * _1_ - The response only contains the _Summary_ and possibly the _Encoded_ schemas for basic information's (better API performance).
          * _2_ - Additionally lists all broken rules (_BrokenRule_ schema) according to the configuration parameters that were requested.
          * _3_ - Also shows events (_Event_ schema) that contains extended features to each found object.
        explode: true
        in: query
        name: detail
        required: false
        schema:
          default: 1
          format: int32
          maximum: 3
          minimum: 0
          type: integer
        style: form
      - description: Specifies whether or not to draw an output video that can be
          downloaded afterwards. The output video format will be MP4 containing H.264
          encoding independent of the input format. The _Encoded_ schema will be available
          in the response.
        explode: true
        in: query
        name: imageEncode
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The milliseconds between each AI check. E.g. The AI will check
          1 frame per second when checkRate is set to '1000'.
        explode: true
        in: query
        name: checkRate
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            examples:
              Simple basic-auth authorization:
                description: Url will be accessed with the 'Authorization' header.
                  Any key/value pair can be added to the 'header' block.
                value:
                  callbackUrl: http://www.example.com/callback?video
                  headers:
                    Authorization: Basic Rm9yemEgTmFwb2xpLCBzZW1wcmUh
              Simple callback:
                description: This example shows a typical callback object to start
                  with.
                value:
                  callbackUrl: http://www.example.com/callback?video
              Callback with custom id:
                description: Adds a custom id to the 'header' block. The id will be
                  accessible as header when the callback is received.
                value:
                  callbackUrl: http://www.example.com/callback?video
                  headers:
                    my-custom-id: TmFwdWwz
            schema:
              $ref: '#/components/schemas/Callback'
        required: true
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "202":
          description: "operation accepted: wait for callback."
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: Not enough credits.
      security:
      - LICENSE-KEY: []
      summary: Check a video with the AI.
      tags:
      - AI check operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/check-stream/{configId}:
    post:
      description: |-
        The body is continuously send per JSON stream until completion of the video stream. Only then the full _CheckResult_ schema will be shown (past _Events_ omitted).

        <b>NOTICE: Depending on your configuration and parameters this operation can be quite expensive on your credit balance.<b>

        <b>WARNING: Please do not use the 'Try it out' for this operation. The browser is not able to refresh the response preview until the completion of the video stream.<b>
      operationId: checkStream
      parameters:
      - description: The configuration id from the Basic Configuration operations.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The URL of the video stream that the AI should check.
        explode: true
        in: query
        name: inUrl
        required: true
        schema:
          type: string
        style: form
      - description: The URL of where the AI should send the encoded stream.
        explode: true
        in: query
        name: outUrl
        required: false
        schema:
          type: string
        style: form
      - description: Determine how often (value in milliseconds) the the AI should
          give a feedback.
        explode: true
        in: query
        name: cycleLength
        required: false
        schema:
          default: 500
          format: int32
          minimum: 100
          type: integer
        style: form
      - description: The milliseconds between each AI check. E.g. The AI will check
          1 frame per second when checkRate is set to '1000'.
        explode: true
        in: query
        name: checkRate
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      responses:
        "404":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "402":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: Not enough credits.
        "200":
          content:
            application/x-ndjson:
              schema:
                items:
                  $ref: '#/components/schemas/CheckResult'
                type: array
          description: successful operation.
      security:
      - LICENSE-KEY: []
      summary: Check a stream with the AI.
      tags:
      - AI check operations
      x-accepts:
      - application/x-ndjson
  /v2/check-image/{configId}:
    post:
      description: The response (_CheckResult_ schema) is returned immediately after
        the request.
      operationId: checkImage
      parameters:
      - description: The configuration id from the Basic Configuration operations.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - deprecated: true
        description: "<s>The url to the image that needs to be checked.</s> Deprecated:\
          \ Use request body instead. <b>This parameter will be removed in future\
          \ releases.</b>"
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Set the detail level of the response.
           * _1_ - The response only contains the _Summary_ and possibly the _Encoded_ schemas for basic information's (better API performance).
          * _2_ - Additionally lists all broken rules (_BrokenRule_ schema) according to the configuration parameters that were requested.
          * _3_ - Also shows detections (e.g. _BaseDetection_ schema) that contains extended features to each found object.
        explode: true
        in: query
        name: detail
        required: false
        schema:
          default: 1
          format: int32
          maximum: 3
          minimum: 0
          type: integer
        style: form
      - description: Specifies whether or not to draw an output image that will be
          delivered in the response body as base64 encoded string. The _Encoded_ schema
          will be available in the response.
        explode: true
        in: query
        name: imageEncode
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            examples:
              Image url:
                description: Image url
                value:
                  data: https://example.com/path/to/your/image.png
              Base64 encoded image:
                description: Base64 encoded image
                value:
                  data: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYAAABccqhmAAAAwHpUWHRSYXcgcHJvZmlsZSB0eXBlIGV4aWYAAHjabVBBEsIwCLznFT4BWJqS50RbZ/yBz5cIdRp1Z7KQLNkQyv583MtlQFiLLqvVVis5tGmT7olRoL+ZSd98gJOn8/JJxSM8IgSrees458mGuHu2nIzslsJ1FppGFPsykggYHY18S6OWRpAQOA16fItqs/X8hetOMyxWGaQ2t/2zX3162+LvQGQHg5wBjQYwFgq6C+JMUC9kL+hAckszH8i/OR0oL9VMWQoOkAyEAAABhGlDQ1BJQ0MgcHJvZmlsZQAAeJx9kT1Iw1AUhU/TSkUqDnYQcYhQnSyIijhqFYpQIdQKrTqYvPQPmjQkKS6OgmvBwZ/FqoOLs64OroIg+APi6uKk6CIl3pcUWsT44PI+znvncN99gNCoMM0KjQOabpvpZELM5lbF8CsiCFENY0BmljEnSSn4rq97BPh+F+dZ/vf+XL1q3mJAQCSeZYZpE28QT2/aBud94igrySrxOfGYSQ0SP3Jd8fiNc9FlgWdGzUx6njhKLBY7WOlgVjI14inimKrplC9kPVY5b3HWKjXW6pO/MJLXV5a5TjWEJBaxBAkiFNRQRgU24rTrpFhI03nCxz/o+iVyKeQqg5FjAVVokF0/+B/8nq1VmJzwkiIJoOvFcT5GgPAu0Kw7zvex4zRPgOAzcKW3/dUGMPNJer2txY6Avm3g4rqtKXvA5Q4w8GTIpuxKQSqhUADez+ibckD/LdCz5s2tdY7TByBDs0rdAAeHwGiRstd93t3dObd/77Tm9wNGH3KVLxpYXwAADXhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+Cjx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDQuNC4wLUV4aXYyIj4KIDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+CiAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIgogICAgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIKICAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIKICAgIHhtbG5zOkdJTVA9Imh0dHA6Ly93d3cuZ2ltcC5vcmcveG1wLyIKICAgIHhtbG5zOnRpZmY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vdGlmZi8xLjAvIgogICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICB4bXBNTTpEb2N1bWVudElEPSJnaW1wOmRvY2lkOmdpbXA6NGZiNTQyYTAtYjQ3Mi00ZGIzLThlY2YtZDg1YzQ1MDdhZWE1IgogICB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOmMxNmM2NjgwLTE5YjQtNDg1Mi05NmQ5LWE1NjU1NDc5OTE5NSIKICAgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjQ4MThjNGI3LTM2MzMtNGJhYy04MWQ4LTdhYmQwN2Y5NmVjOCIKICAgZGM6Rm9ybWF0PSJpbWFnZS9wbmciCiAgIEdJTVA6QVBJPSIyLjAiCiAgIEdJTVA6UGxhdGZvcm09IkxpbnV4IgogICBHSU1QOlRpbWVTdGFtcD0iMTcwMTY5MzIxOTMwNDU2OSIKICAgR0lNUDpWZXJzaW9uPSIyLjEwLjM0IgogICB0aWZmOk9yaWVudGF0aW9uPSIxIgogICB4bXA6Q3JlYXRvclRvb2w9IkdJTVAgMi4xMCIKICAgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyMzoxMjowNFQxMzozMzozOSswMTowMCIKICAgeG1wOk1vZGlmeURhdGU9IjIwMjM6MTI6MDRUMTM6MzM6MzkrMDE6MDAiPgogICA8eG1wTU06SGlzdG9yeT4KICAgIDxyZGY6U2VxPgogICAgIDxyZGY6bGkKICAgICAgc3RFdnQ6YWN0aW9uPSJzYXZlZCIKICAgICAgc3RFdnQ6Y2hhbmdlZD0iLyIKICAgICAgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDo5YTlkZjNlYS1kYTVjLTRlMDAtODBhNC0wYmE1ODc5NjI1ZTYiCiAgICAgIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkdpbXAgMi4xMCAoTGludXgpIgogICAgICBzdEV2dDp3aGVuPSIyMDIzLTEyLTA0VDEzOjMzOjM5KzAxOjAwIi8+CiAgICA8L3JkZjpTZXE+CiAgIDwveG1wTU06SGlzdG9yeT4KICA8L3JkZjpEZXNjcmlwdGlvbj4KIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAKPD94cGFja2V0IGVuZD0idyI/PipGGiUAAAAGYktHRAAAAAAAAPlDu38AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfnDAQMISetiKIgAAAgAElEQVR42u19e3xU1bn2s+dE5gPMKDAJSAKSRBKQiwqN0AgcEqBKBbT0AvSDw/FQPT/T9PzqJ9gWSwXx1KOC9fuM6NFSarWKVOWmBeV6uEQghksgQAJDMCSEJEOAiRBHUvb3x1wyk6y1Z++ZPXv25X3605KR7Nl7r/d93ud917vWEkRRFEEgECwJG70CAoEIgEAgWBBJ9AoIAbS0euBpvYILV86j9fq14Oet317D2UunJH93cO+7wn7u2a0XbunWA/YkO5yOVHq5OoVANQDrwe1phKf1Cs5fqcXFr5vQePU8ttW+E9fvnJA+B6nd+6LXzSnIcN4BR9dbkNzVQYNBBECIN+qaz6HafRonGo7E3dGVIMWeheEpeRjQYyDu7DscaT370WARARDM6vByCGHigB9hYOogZPXJgT3JToNJBECQ5/Q1+PLsPmw9+yGavC5TPFOucyrG3zEZt/fKoDoCEQCBlcsfqinFnq8+Q6Vnb9y/T4TIMCAAghD3785x3Idpd/5vDO13NykDIgDrwtvmRemZEmw5tVY9p/ebgAgBgiC2O3S0liG0X1cUBQiBC6lEFLNyfoXvDBiNtJ79ySCIAKyBllYPtp/YHJPEF30D7nN0WwwOHpPFAaIowkcLvv+PJUWYPHg61QuIAMyd2//Pqa3YcOa1qB1eC4kea3LhZ4ao7jXFnoVp2XMxOmssTS0SAZgDroYqrCt/D6XujYpdKai2DTyy0aqDWTm/QsHgB4gIiACMG/H/XvGxoum7oNMHIqlprNOXLvj+qOy55g17FuMGTaTUgAjAODn+xvIPFUl9X5SEuZxeXrIgOzWYMfRx5GbmEREQAegT3jYvNpevx/uVL8TFCcxnsf4iooLpxxR7Fv71nicxMmMUGRwRgH5QVr0ffz60XF5VP9HVe92SgXwyzHHchxl3/Qx3pg+nd0cEkFi5v/rLP8nL80URooCYpssoNQjHhPQ5mPmdf6NCIRGA9thTtQMfHHs9YtQX/f+iiB8fIqC0wGIE4PY0wtvmBQBcuXYJzdcuAgAuft2Ebl26o2uXbmF/v+tN3dDnlr4AoMoqNbenEW/vXyF/Wk8gx4+5TiCDCqyuBkxHAPFcCTchfQ66d3Ggf48M9L0lHSmO3rIMp6K2HEt3P6KqjCXIJNEbkZuLrKwGDE8Aelj6OiF9Dgb0GIislGyk9eofNuW0/uCayBV+UQRsAkX8uKUF8mYNcp1TMXdUoaVWHhqSAI7XluNw3Zf4om6zLpe+5jqnYvhtuSivL5Un+Unua6MGZL7jopHLMCY7nwhATwisgpNTQDNGWDJCj75104IJ6XPwL9993PQNRLongJZWD46cKzOP45PvG0YN5Djuwy/G/tbUKYFuCSCw/FVJhxwr94PY7mmK1roH/tqNwI+xz8eLMGG/vgXUwKKxqzDEpM1DuiOAaFpjOzq8NnPnvs0u/NWlyC5NYd/QamBWzq/w0IifEAHEE66GKryy97fypb4e22NFEaLQgRCoym8KNZDrnIrHxvwfU/UM6IYAthz7FCuP/k52pBcEYzgUBX5jkUCkBqIUexZ+PX6ZabYjSzgBKOmQo+yZoBfSXjB6hSkahxJKAHJXw5HjExJAAxH3JDJDXSAhZwN627z4qOyvkTe/8OfOAuXOhATkA0IEORAoVD8w/CHD9gtorgC8bV4U73heUvKHbFJNdkhIeF1ATnGwKP83hiQBTQmgpdWDN/e8LJ3vU9WMYEAYlQQ0IwC3pxFLthaZppuPYE01ILUDkRE7BzUhgEjOH1yoRbk+wQCQKkqn2LPwzMRiw5CATYuc/9Xdz/EjvyiS8xMMVxYAJ242eV1YsrUIbk8jEUCg4Mc9w4465AhGhU2QJIGiTyejorbc2gTwUdlf+QU/cn6C0fMACRIAgKW7H9E9CcSNANYfXMOf5yfnJxAJmJcAKmrL+av5yPkJZiMBQZA0Zz2TgOoE4PY04o0Dz3HfFQRyfoL5EKmOvXT3I9hy7FPzE8Db+1cwK/7Uz0+wAglIYeXR32H9wTXmJYAtxz6R6PKjsE+wSlbAt/X3K1/QFQmoRgCuhiqsPPqMBDtS/CdYRQkIhiEBVQjA2+bFX74s5tChSNqfQCSgUxJQhQBKXSXMZh8q+hGIBKRJYPmWxcEj6xJyj7GuBXB7GlH06WQabQJBsi7AF8KJXEkYswJYe+Q9zgNT2CcQ2tUAXwiXujeieMfzCVECMRFARW059zw+KvoRCPongagJwNvm5Tf8UPAnEAxBAlETQKmrhL3EVxR9+/QTCISoSOAvX7yubwLwtnnxQQXnJqnPn0CIiQS21b6j2RRhVASw6+QWTruvSM5PIKhAAlr1CSieBvS2eTH3b3nKn4hAIDAhNUU4b9gSTBo6RT8KoNRVwn0Icn4CQV0lsPLoM3FdSqyIAKRyf5r0IxDiQwJLdz8CV0NV4gmAV/mnwE8gqEMCPLyy97doafUkjgAo+hMIWtQD+BuNvrnn5cQRwOkLldx5fwKBoJYK4C8gKnVvxJ7KHYkhgDVH/si5AsV/AkF9EmCj+OB81DXXaEsAFbXlnOW+NO9PIMSFBAS+uv6vnfNVaxeWRQAl1dsp9ycQtC0GcHcbbvK6VGsXjkgAbk8je8WfSNt8EgjxTwfY2Fb7Dsqq98efAPacZhcdRPJ9AkEjNcBOBV7aVxjzGYSSBOBt82J15YscdUIMoMtwIZAwMx0kTh96dfdzMdUDJAng2LnDfFlCxT/dJY3iDX9R9ga9DTPWA1io9OzFpvJ18SGADcf/Si/fAFFf9NdjgqpMoC3ZLJQJYHXli1GnAlwCcDVU8af+CPpwfH90YKVjAgRKBcw25BLEztubM2oC2F71d778JyQ+1xfFiGMh3iCyNh8JsKcGt9W+E1WDEJMAWlo9NPWn86gvZxx8yoAOZjFdPYCXCpT9SR0COFJTxvlusqSEjv2NaEZA8CkBGjrzxAEbmwNK3RsV7x3AJIAtp9dyv5iQKNqXnnp12jNRkDabrwRoZsBk5sCWAdw1OxwkdfyAV/wj+Z8gyS9GPmOhIG02ZuXOQ3JXB7AL2F73LrtuQDCRaQSMI3xgKz17sadyB8bk5EenAI7WHWKTDhmQ9s4fQfI77ZlYMHoFHhv3hM/5AczNK0RuyhSJ4EGFQTPZCAsfVLwuuzmoEwFwO/8ohGg7sKK05M9NmYLnJ6/EyIxRYZ/bk+yYe+/P4bRnciMHkYB5DIU1lk1eF3fvTkkCiNe+YwSFjB7BP4tGLMOTE5cEo34nZeBIxeKJr0nKRyIBk5gMJ0gUH5wvawsxmxz5L5CxaAAx4ry9056J5fevlZXfOR2pWDR2FZGA+c2G2yK4z7VLGQEcqt/LvD5VkOI/hmGtvAxMyyjE8mnvIq1nf9nXHZI+PCIJEAeYQgYwP95Q9ZeItYAgAbg9jezqPyG+zi+jo2/B6BX46eh5UZ0fH4kE6DAXMwWRzrWA0xcq5RHAyfoKJeRCUEPyi6Jk1M9OzkPxg5s6FfqIBAisIWRh84mP5RHA8YbD8qmFENNIyZX8Tz+wDE5HqipfSyRgCTnZ6aNS90bJNQJBAmA2j9CW3+pHfRlz+4vGropa8sdKAqJIbcOGtS7OuJWe/UKaALgMQfpf06ifmzIFiye+hiHpw+N2KxELg4JAqwgNa2bs+brVlS9yi4E2AKhucikoLRAUJ2cyCn3zhi1B0fiFqkn+WEnAr1do/ExSC+AVA22S+T8pgNijfoSlu4G5/UlDp6gu+SORwPL713I7BqUiCsF4OFJbyieAo+4v2Pk/jX5co340c/tqIq1nfyye+Jrk2gEhUmgh6LAY0NlxN1SvYKYBtpZWD/vMP4r+cY368Sr0KYXTkYqi8QsxLaNQ2qaoLmAgOxRkpwG2Rs8Fyv/VoV1ZG3YUpM3G85NXxrXQpxT2JDt+Onoe5g1bErEuQErAXGmArf5yncJyAoGnkSNt2NFx6a7eMGnoFCwau0qyLgAxsAsxwQxpgI1bACTICfqyhFIg6sfa0acFhqQPx+KJr0kXBwXBTwJEBEZLAzqe9WGra6lmiVl6gVIRX2bDjBGiPq8usHzau9LFQYGOIDIiKhuOhf38T32mtC1mWTkNLS/kR5b7gK/C/8v8xejX63ZDPmmSLQl5mfno0yUbB+o/j6A2fWRIVqPDNKCDnTa3NuP7g3/crgAk7ZzQKc+PFPWyk/Ow/P61uqjwq4ExOfkofnBTRDVAzm+MNKDJ6wo7RSiJ/Xu0AWjQ32Wmuk57JmYOKURuVp4pHL9jSlA0fiF2nczFyqPPyCdMCiT6sN8O+OpidbDj1BYh5Flb7Ms04Jk5T+H5ySsxJiffdM4fgD3JjklDp2D5/WuRnZwX8eX5+gaIAXSRsXZA2bn2/QKFGe+NoFHq+NJk8l9B2mw8OPSHCevkSxS8bV5sKl/H3ECWVR8QbLTzUOLMWWSmZ6tnlXFSAEbhwFKOL+PRs5PzMOPuR3XVzKO1Gnh4xAwMS7sHf9j7NNzeM5L1gWAaRcIyAVkA+6W7GqqQ1TubXQOwVI50Q77jmznPjwZZvbOxfNq72HVyS+TaQHDqlMqFekD95To2AYhWqOeGFvfI8VWpDYzOGof3S1eyN5YJVQNRpFoE9XG84TDG5OR3rgGYOwMQ/c8n7wHJ8ZWjrrkG/13yEqpaSuQOCRFBAuoAKfYsvDp9DaMIaLa94fxLc9t/kId5w5Zg3KBJ5PhRoqx6P1YdWiZZH+AqM4ImeOvhHSavAfgXrggKJM3MnKcwYfBkQ7Xu6hEjM0ZhaL93Zc8WBNVA4A8CzRzEUwEAQKPnAmsWwARej/alq3IqGiT141cfeHjEDEwYPBnbTmySTwQQ/EurBV+nChFBjCKY7QP1l+tM0gcghBQwFMj87OQ8fG/gdHJ8jdDS6lFIBB2jEhULVAiLQRSkzTY4AYRO4ymA1efx9UAER2rKsLpihbIaQdCQqXKoRhqQYs8KJwDR5JOABWmzMSHnQWT1ziaL0AG8bV6UukqiIgKf4KO+Avnvij27Z3oCcNozMXHAjzDmjnxNttwmREcEx84dxk7X31Ha9EmUBh4gA1IHchUAgwAM9OoiTBllJ+fhoSGzMbTf3ZTfGwhuTyMO1RzA+qq3o1IFoYQgCELINLCgnU3qcTqTc0/hBGCkJiDOA1l1gY4Z4Wqowv7q3dhQvUJFKexXCqo4aft0JWu6WVeK2nQEwMHy+9eS81OKoApRCDE6g95SapYOCp8FMFAnFo+sAsscCeZES6sHNRfP4khtKUrOb44pTTACicS7DmBcAuBkdUQA1qsZnKyvwP5zOzVTB0YFy2eSzPQ4EXeqSVDEqrpwAs1X3Th76VTYfxvQYyB6dnciu89gaj3240zDKZy/UouaS9W4+q0n+Hn3Lg7075GBvrekI7P3wODnTkcqxjhSMSYnH962hai9+BXqL9fheMNhlLtLdK0Q9MAAploLkO7I1M29HK8tx6YTH6PUvZH/l2rb/5jrnIrJg6fjTgs2J7W0erD9xGZsPfsh+5i6DkixZ2HigB+hYPADYcRpT7Ijq3c2snpnY0xOPoAn4G3zwu1pQHWTC+6rjWj8+rzkkuVo4LRnomeXPvJXQCYIrL0+DdsJyMpnCtJm47FxTyT0vuqaa/DmF8tQ6dkb1e/nOO7DY9+db4lCprfNi10nt2Ll0d9FfY2ikcuQm6m8ldvtaYS37RsAwDfXv0HoCVmt16+iujlcrd3Z++6wn3t074Vbu90Kp6M37El27KncgeKD8xlep6O0mnEv1t4RSGWUVe/HS/sKY7pGpWcvnvxsLxaMXmGIk4Riifpv7nlZWiHJQHHZfOR+NRVF+b9RRAIdm8Is0R3KICIbua06WH9wTczOH4qX9hVi/cE1pnxXbk8jFm76WczOH0CpeyPmb5gTtt+91ujapZshx4IIQAXsqdyB9ytfkMnCIvPgRhber3wBeyp3mC7yL9laJCvXF/2pnpy31eR1YcnWok6HX2qF1m+vEQFYERW15ezcL8Thw0xYENobGAT/OYwShFB8cD4qastNk/O/uedlSecXA7kqAnu1CuEHM0m8qyavC8U7nk8YCciV3Ym9HdG8BKB2dVeOQb9x4DnpaG+TODZL9G/WYBMkDfuNA8/py6ijlequEq7sF/3/FqScRvQTqIQqKHVvRKmrBASFCoBOBFaOTeXrJKKZgm2tQgybF9l2ndxieOnPU0oiRL8okts1J/hfLft9fVDxOlpaPZo+X80lY/QbdAxGlALEYNC8nW1EUYkxhw8PTwisPPqM5katJrad2CTBfVHs/+ff3VnkECbv++KFr781xth0tC/DEoDAMRitKsFVF05w33As7d+CRJ7L/U4jEMDZj3iUF32eLAZ2B5L/fQQDE0Dosm6RE2EDzR3xRugBi509OFZ2Y1+jsuGYIY2srrmGnSqpsk6fXT/peAx23J+xpZpT19B35DScAvCdOpt4MAuOoor3xriWmuvitUR1k4vruyoltkycrK/Q7BnZnZ/6o4COqxMNRwCBBxA4OcA31+OvAHgVeVGDpZ9GnA1wX21EIhig9fpV0vhmSgHagyN/ziK0pztuBu1p4Oakqj0jx6i5361jNH59PiGxsWM/v/aGKhABxE0F6DDBEmz6vJZOaVzlqyXOIOqaawz72o07CyDoT/aJN/R5LV2On8pbZelxN2temkoKII4or/8y7t/hdPTmGKGookGzr2XEZcIZPQcm5Hs7LuGNW6rBLXIaKAXQ+3kAokxGVWuFmRR4y05V5XsTbW3f9abucU0DEt3Fyu0C9N+WGJzREfVLADrUiP4pXjHEH+R5hRY52bSMQtlpSXTOL8j6TiNg0G1DOP4hqPS6BEXfqza+OP+ZzHRVIAKQHe9FMdjuqZokUxF3pefy712I0fk5/QT879Q3nI5UOO2Z7EeNU1TMTs7T5CSollaPrKXNUkGOCKCTnIvtzWixMKN/rwFMo/av8Y0t12E8u9OeiTv65Bg2DXgoe25csgCRQ5bfGzhdG/l/8Wxsce6GmFASsOnN+dWoRUSSZGoguasDM4cURvLkaLyfiZlDCg19xNm4QZPYKkAQuE4sx/lZCtFpz0RuljY7RJ+/HFu6KQhCQknApif3j+T82cl5mJnzVMTtv5u8Lk1WzuVm5XFUQLT5Hvt3tDToeMGeZOcSZjsJiLJtRerQDS3JUs6sE99GQmoEWtYHQwhXNwQgFQQK0maj+MFNeHbKq3h4xAz8e96C+EozBUb9m/HLI0YpMULMjxQBfzN+uSkOOB2Tk4+CtNl8JwgSoBhBIQlc5y9Im+3fElwbRJp1mjdsCYqn/w3FD27CvGFLovYBVX1N4CkAIVHOz2fzBaNX4LFxT4QVdNJ69o/4MmOVZnKR1rM/Fo1dJcnuQkdCEMMPY5IqdC4au8pUW4TPzStEbsoUBUpIlG2guSlTMDdPu5mSSLNN2cl5GDdokk8FOFIxaegULBq7iqsIEtE2oAMFwHf+RWNXcbfGHjdokmQqoEVDUABD0oejaMQy2Tmf3JmNohHLMMRkB4XYk+yYe+/PZZCAsqiUmzIFc+/9uaZKKdJs07/nLeh0P0PSh2PxxNd0c4qVDgiAL+WkjN+eZMd/jFvEZVMtGoI6ylspdlcCpz0Ti8au0lTKagmnIxVF4xdy0wGlKEibjaLxCzWZ9gtLMyVmm4pGLOMqN6cjVTqN1VAJ/NPQH962ONEpAAsLJ/xf2G+SZvNu9u64PXkQdtWs71wIynkKGSkDkWTT7uyTVEdv3Js2Ht9cE1DdUh61MT+e92sMSMmEmZFkS8LI27+LPl2ycab5NK7941JURPlvdz2NH4ycpek4t0fPJBxvONrp3gvSZuMHI2dJ/q6j6y349moSKi+XMisd8XbFQGKa0NOBeUd8F41Ypij6rTv4QXB/vmkZhZh6148TfthmXXMN/qdqi+xNPKZlFOKfsydZ4kiwjvC2eVHqKsHnpz6Wdb5ednIevjdwOnKz8hJeHA3c++qKFXB7zyA7OQ9PP7BM1n21tHrw6Lp8hl/E91jx0On2hJ4NyJv3f/vHJYoG1tvmxabydcgd8F3dOZC3zRs8sRYAjjccBtC+UOW2W9OscSyVTLg9jfjqYjVav72Gmktn8PW3HtzcxYH+PTLRtUs33N4rQ3OpL3ecd53cgnv636vo/rYc+wQrjz6TML8LIwBeRNYSejjgk0DQCq6GKjy9fVbCCEB3rcCpN/clqyBYBrd0vZWbHmtTx0gUOErD2T2VrIJgGXDTBY02E7GF+2Ti1ytnpGSRVRAsBc17AkQOAehhD0MtdvUlEPQEQePCW+j32XjMkChosasvgaAnsM4UEBJRAxB0sIeZUQ5ZJBDUAG89gahRV17iioAchqtvOUdWQbAMLl+7zJHpSBABCFpyQGcWKHVvNOTpNwRCNDjVmNgDX21yI3N8GIDNNpvK15FlEEwPt6eRecR8fF0w/OqdVlBo2Q3I+57VlS9izB35umz5NH7OeQ7V7tPBn2suVeNqh7PtB/QYiK5dugEAenbrhX69BiR8bYUZsfbIe9pn3qIQ5ndJnTMALdYihacBrPUAa4+8h0fH/pKsJEa0tHpQdeEEKhsrsOHMa/J+qbbzR7nOqRh+Wy6yUrKR2XsgvdgY4Wqowrbad9iBMe4KoP0bOi0GUmtjTvkygK95ZuX8Cg+N+AlZS1SRvgZ/r/iYa2SxIMWehRlDH0duZp4ptipLhPRfsrWIvZ14PCU4w9fC9wPwE4Tm04Gchz52cS9uut4DGSl3yFrvfby2HDUXz6Jvj3TLGpe3zYtVe4vxxqGFqPaUx+U7rv3jEg7Uf469rp24PTkHqZyj0qyCsur9SP5fjoj7VwSI+T+3/5Lp/L7Tr7RZBswlgIT0AtgESRI4UXsSvbulIYVhaN42L458VYb/LnkRH596FRc9l5GfPdmykeXpTY/i2KWdmnzftX9cwq6a9bjpeg/NTuHRI+Eu+Hw6Np58Gzdd74Euti7ocXMv5thsqfgUy/f/grv5Sdw3AfExTPhnidwPQG4qECo9h6fkoXsXR7BwxZK4xQ9uslwB0dvmxe8/W8DsKpMTGaSMRA4WjF7B3b/RzKioLcfS3Y+EfZbjuA/pjkykdu+LxqvnUes5E3lc4l195/hXUrTOGI/aRKT6Q5PXhW21kY9hOlRzAJOGTrGUIR47dziikYkQgQ5VYN9wC+wwFDybUYAQwUD/fGg5RmassRwBlFRv7/RZpWevMiIWRb8KjmeWzfYtG88ZEyMChJhP1gKADVV/sV4eeq6Ea1yi/7xCAYKyICP6fwftqkCUIGctDmXVE1paPTEXWcXAu42zz/HWFth4hJQwiLEfGtnkdcHVUGUpY6z1nGG/TJvfhVUaU4mzS7ltrWbFkZqy2BwfGk64M5g/N2UKmwD0sC+AAMEvWaO7l/3Vuy1ljOkOqYNKVRxPiUzg1m63Wuqdbzm9Nmrn18G6O4zP+j5srAMaRJ28YF9KIITlsGJAGwSkrcgmiQ3VKzQ5H1AvCGwyynuT7UeUiUoGIOQ3RMmQ5bRnWmpHY1dDFTvPD7XLDj+3p2JaOxn7y4b2uxu2227uz1ALgi5fuhD8n49CAwTBWzpZdeGEZQwyNytPcmeZ9iPKhA72KjJsWERnn5e2iUfumW+p6H+07hCXNMMCV4idqpmKKSPxzmM3LcN3gKqtf49MSfY3Anh8teH4Xy1jkJFOSpIihlgDwMycpyw1BdjS6mEu4oEo6s5xeBn0qIyxAAAbdw8+0WCjwnjSSs9eVNSWW8YwnY5UPD95pYJz92LHgtEr8PCIGZaK/vtcuzguo7OoKbDpyGnPDJ5FYePlbUbzf967X3Pkj5YyzuSuDjw5cQkWjV0V180mZ+Y8hbce3mG55h9vm5c7zay7zJnjxA9lzw3+OQnwTQeUNn3SOaIKgrEYgHHPARVgtlN2I2FI+nA8m/4q3J5GnKyvwPGGw9he927U18tOzsOIvmMwLO0epPe63bKLgEpdJfw+fv3JYuZdjc4aF04AWT3v7EQAgqGc3/+4HMlTUr3dcgQQmhaMcaRiTE4+5rYVhh1T1nr9KqqbT3X6ncBRXADQtUs3ZPcZTPsB+KP/BxWvKxGgiVXEjA13CtJmh41lEgD06zFA4iJG0gBsFbCt9h18v3m6JQ/eDIU9yY6s3tl0FqHK0V+XavkG+54m5DwY9rMNAPrcchs7ot4w3iDxzjZYXfYnsmBCXKI/bDpUywznz07O60T+NgDcyCgYrxTYrgI6srd7o6VmBAjqYlP5Ok7uLxpGJX9v4PTO3BWaG+g/sYme/QDgjQPP0Y7DBMXgbd7pMzUdlv44k/+5WXl8AsjoOZBdBDAqCTBeQpPXhVJXCVk0QRG4m3eK+ov+IkQmKc3MeYo5cxMkgL63mqxAxsnLig/Ot9QaAUJskNq8U5fT5BxCyh3wXbabBP7Q29GHfb0bBh05kb+kePWXVBAkRIa3zYu/fFksV2DqIPVlpyS5KVO4db4gAST6nPL4vA82Q2+rfQdl1fvJwgmS2Fy+nrviT7Dp7355pPTAoB/yhXLoD8xCoGjOwf3zoeVwexrJyglc6f9+5QtsR9Npfwyv71+qCS6MAFhryn2SwsAswNnCpsnrwtv7V5ClE5jS/5W9v+VklhqfmxFj9A/t+49IAPytnQXjjqYIbkGw1L0Reyp3kMUTwvBR2V8l+v0FHRt6Z4T2/UckAKcjlbOe3OB5gMTtFx+cb7nNLAl8VNSWSxyhJurUvNlTf9MyCiOu4ehUypg44EfmUgARUgEA+K+dNDVI8DX8dNzjP1Rj6zX68+4rsOmHIgIYlnaPOUdXYifGJq8Lb+55mboELYyWVg+WbC3ix32bsYIgq+9fFgGk97qdQ4DmmA7gPUapeyM2l68nT7AgvG1evLnnZfZKP/jXxOjU/Hm3xer7l0UA9iQ7pmUUdn4JgmCOTHZkTqAAAAz3SURBVEAiFXi/8gXqD7AgNpevR6l7o0TA0KnhS9jyXf1HRkcAAJDTe6ipVUDwMFIGXtpXSKsGLYT1B9dw5/shirreFEsUoy/+SRJAdp/BEpRjnnoAj86W7n6ESMAC2FO5Q9L59Z73x1L8kySA5K4O9s6yornaAqXYfenuRyx3vJiVUFFbjuKD8/l5tSAYcvY7dMffqAkAAIb3yTVtHSB0pKXOIHxl72+pXdikzs+d7oPB9sLtgEidf7IJ4J7+9/Lls5lUAASusGnyurBkaxGRgIWc3zg7/IjK/FYpAZi2K5DD+FLHXi/ZWkQ1AROgrHp/ROcXDCFx2dt956ZM4a/qVUoAgFRXoAlJANIkQIVBY2P9wTV4aV+hCZyffwLR+KzvK76WJAHwdhEx6xLhSNS2dPcj2FNFi4eM6Pzcar/BnN93w2wr5c/eRUkAaT37s4+XEgTTGkskEigum4/1B9eQVxkA3jYvlm9ZLO38Iozl/JyFP7kpU6I6vCXiviYPDZltOcOJRALvV76A5VsW09oBHcPtacTvP1vA7fALRn6DxTI15b8sAhja724Oc4qmJwEplLo3Yv6GObSUWIeoqC3Hkq1F7O28/ORuONkfB/kviwDsSXbMzHmKkQUIknPoZoHUMzZ5XXjysx/Q+gGd5ftLdz/CXdgTqJ8b0vlVlv+yCADgFwMFCKY3KMGfEEhR3Uv7CvHe/j9RSpBAtLR6Iuf7MHofm7ryXzYBcIuBFqoKCBLyCwA2nHkN8zfMofbhBKCsej8WbvqZ6fJ9NoWpJ/9lEwBgzWJg57clSJJAk9eFp7fPIjWgYdR/a/creGlfIVfyh1G44TNWdeW/IgIY2u9uZmeg2YuBnTVk5DBCakC7qM89tScYL02ykQ3nOVhrduJCAPYkO7Mz0CrFQBYZSz11QA28tfsV2m9QRdQ112D5lsWRo74YmDATzGNwDNzZd3hsVxUVhHC3pxFFn07mhUZLkgBuiLJUwbxhz2LcoInMAxoJ8uT+xvIPJXbsZYyNqeJSZx9z2jNRPP1v2igAwLdAiLlPACyqAoIpQeSnX3n0d5i/YQ61EiuEt82LLcc+xaPr8iM7v6+tDyZS/pIKIK/vAzFfNUnpLzww6IcobfpEpkCxjhQQZKiBJq8LxWXzseXUfZhx189wZ/pw8nAJxy89U4IPjr0escDXHs4EU65T4TUt9e+RGbvlilFU8X73yS9Q1VLCJmDB6qYrv8csxZ6FGUMfR25mHqUGIVJ/+4nN2Hr2Q3mOH9i6y4ICdPn9a7mn/saVAOqaa/DkZz9gjIUIwaKD0VEOiTfkk2GKPQsTB/wIBYMfiGlKx8hwexqx9/ROyUaejtkXLBJweCFl9ayyxCgAAHhz1x+wve5dUgFyygQK/v60zJ/j7rTvIKtPjulVgbfNi2PnDmPn6U2STTzclNgigYa1+29B2mw8Nu6JxBGApAogBuisCBQeLRVQBcPS7kFm74Gmeh3Ha8txuO5L+RV9ii6dMG/YEkwaOiVxBAAA7+1biQ3VK2KOelaqDvj4QNnbyXHchxG3jcHA1EGGVAYtrR6cu3gWh+u+xBd1m+UX9SjP5yqdBaNXYGTGqMQSQEurB4+uyyfP1kARhCLXORWjbv9nZDjvQFrPfrqU9nUXa+BqqsKerz7jLstVO32yUv6vRgEwZgIAgHUHP8Dqyhdp8DSqEfAI4TZHf/TvkYEM5x1wOlI1UwktrR54Wq+g2n0aNZeqUek+HLXDB94HSOlHzHre/nGJKmOcFOsFJgyejK1nP4Tbe6aTcrFSoSYWhRdrjlvq3gi4GWOTPgcAMKDHQHTt0g09u/XCLd16hP0dFlkEnDoUV65dQvO1i2j99hrOXjoFzzeXlRfu5KRH5Pnh9sF5HWoRfMwKAPAdscQ6ZYUKgnGgfnpGy6cA2cl5eHbKq6pc36bGRXKz8pgrBQVBgEgKIAbqF9sdxUxOHym8ESSR7shU7VqqEIA9yY6ZQwoVSRiCggQh9CWKxlp1IaJ9Dz4yCP3BptaFxuTkcxYKWWzPAA2UgRDCDaLOFIIYXIUvBinMuHvwEQEowtx7f86xWUoF4hJaAzwQiKqCz/FEMaAUxPiQQ8i1xQ4HrArBVfjk8JYjAKcjFUUjllEqkEBSEAIrEwXB54ShL14I+cdPFFL/+C/Y4ffCr+07MJoGlwhAbipAtqKHhByBJcxS/wS3PQr7PUKicdT9hX4JIFIqQEZEIChB54ipuJVaawKQSgUIBIJC1WakFCA0FZiWIX0cM4FAiA5qHUlni+dN/vA7s/kHipD/EwiREwCOh164Uq9/ArAn2fEf4xZJdAkSCxAI0eDcpbP6J4BAPeDxexex2S1AAjQzQCDwlTIjULounjAGAQDAkPThzBOGgyRww7wkQBqHEA+UujfC7Wk0BgEAwMMjZqAgbbalSMC3kiuECkjpEKIqBLAN51DNAeMQAADMzSvkNglpRwLaOaLQ8afg4j6RCIEQM/Z89bmxCMCeZEfR+IUJJQFR9DmiNgVI9mnCvj0S/PdB6sBEkRrxG0eGHVV69sZ8AK1N63cUIAHe9GCQBOI2SO07zwQjcVz1hiBDJRAZmCLl862Miss4ipxrrSt/z1gEECAB3vRguHPGJwPoGInjqQaULIIKIwORWqWMLATUJnUBAtMeSt0bUVFbbiwCAHzTg4snviaDBESVHVLgfiYiPhJOjPI+BV5RgRSCNcmAY0hrjvwR3javsQggQALPT14pWRMABBUNXow8WPEgHbVvXwz5gcjAMmQg2NiWWenZi10nt0SZEeugHc/b5kXxzt8zTx3u9AZjuFtle1CK6rqvxhtgtp9cThu067524EtEfQMWg30vGrsKQxSeOG3TwwsIFAZ5fQLBFxXrDIGg5O2GlHTV8B8b/yIFaRJrJmKJNhI5jRh1ckKQ4nhNlAHni9448Jzi5iBdKIBQ8A4aYUc3pQMU4zblsSoQzikvE9Ln4NGxv0RLqwc1F8/iSG0pSs5v7nTWQnyNVwzu8BM8rYT4IaEij6sMJMYmx3EfFt7/kuxzA3RHAABQVr0fL+0rlOHMsYfnmTlPofHr88yTjjVJDfxgHfXk9jTiq4vVKDtXouD+1CUFQfDXYCiViJoAZuY8BVfz8cgprgIykCKbXOdUzB1VCKcj1ZgEEDD+/7drKapaSlTl0474z4L3kdU7GxW15fjg8Fuyv08URQhRHFjJc6Nc51QU5f9Gkrnrmmtw+dplnL9cg+rmUwkhhfAHIVKQM7qB3Lyl1YOqCyew0/V3dcggKIU7I8WehWcmFkckAd0SAOArDn705bvME4iZziiR1vIY862HdyC5qyP4s1IiCH6nTaZk9jcHsoZtVs6v8NCInyh6Ry2tHjR6LqD+ch1qLp3B1996UOs5oyJxkmKIFdMyCvHT0fM6jZsaZCCFFHsWfj1+meQhoromgNCUYNWhZRFzYikiYOXfTnsmiqf/jXmtitpyvH5gqcI8nJfly88VA4pELQR2jrlwpR6t317D8YbDCSEIq5AD68lS7Fl4dfoaSRKPJxnMG/YsJg190LgEEHhJ75eulCV7WfKcVQAsSJuNx8Y9IalASl0l+PzUx4odJmKNgsMCKfYs/H7yH8NUSbzUldvTgAtX6nHu0tmYc1RVyCGgpADjFiA54yr3OO94kQGvLmAYAgjA1VCFP+x9WnZkDuZLDEcsGrEMY3LyZV2norYcm09+FNWgBCvsMv9+YFYgUbWXBs8FXLp6EccbDqPcXaLpbIQsoghNuxJOFr6xbU/r2LYmp8ajBRkUjVyG3My84H0YjgAC0WvXyS1YefSZmK4Tjdyua65B6dkvIk5VxlrEUUJOWqgvT+tlVDe5UHPpDOq/rkmYWlCdSBSJ+dijsFISiAcZpNizMGPo48jNzDMmAYS+lG0nNkXtjB0LgEq/e59rF9ZXvR23CFn84CZZUzmJQl1zDb65/g3qL9fBfbURjV+f15Vi0CNiIQG1ySDHcZ+xCSAWIpAqAEaTlhytOxSTKuANkJKmDiIH65CAWmRgCgKIhggiFQCjTU1OX6jEkdrSiFOXchHN1KARyaHl28uGTivkoiBtNm7u4sCojLGqzvZESwamIoDQF3Gkpkyyeh/vHDuUDGJt610wegVGZoyyTIQM1ByA9unL1utXUd18CgAS1ucQCdnJeUh3+Ja339n7bgBAj+69cGu3W+F09NZUyckhgztuHmVOAugYbVhFO7Xn2yPB7WnEyfoK7D+3M6pIJ3cayWpwexrhbfsm+HOAMFgIJRG5yOg5EF1v6t7p865duqHPLbcBgO7HhUcGC0avMD8B8OR5LAVANe6l9uJXqL9cJ7sxR25rJ4Eglwweu+9J6xBARwfUW2Et0JgjNdWmZvGIQDBtDcCM+XB1kwut16+iZ/cUS9UDCEQABAIhTrDRKyAQrIv/D9PByIUVumbvAAAAAElFTkSuQmCC"
            schema:
              $ref: '#/components/schemas/Data'
        description: The http(s) url or base64 encoded body uri of the image that
          needs to be checked.
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: Not enough credits.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckResult'
          description: successful operation.
      security:
      - LICENSE-KEY: []
      summary: Check an image with the AI.
      tags:
      - AI check operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/check-id-document/{configId}:
    post:
      description: The response (_CheckResult_ schema) containing only the checkId
        and possibly ApiNotices is returned immediately after the request. The actual
        body (_CheckResult_ schema) is send to the _callbackUrl_ after the AI has
        finished processing.
      operationId: checkIdDocument
      parameters:
      - description: The configuration id from the Basic Configuration operations.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              German ID:
                description: German ID
                value:
                  callback:
                    callbackUrl: https://www.example.com/callback?idcheck
                  documentCountry: DE
                  documentType: national_identity_card
                  frontImage: /9j/4AAQSkZJRgABAQEASABIAAD...
                  backImage: /9j/4AAQSkZJRgABAQEASABIAAD...
                  selfieImage: /9j/4AAQSkZJRgABAQEASABIAAD...
            schema:
              $ref: '#/components/schemas/DocumentCheckRequestData'
        description: The DocumentCheckRequestData containing data needed for the id
          document check.
        required: true
      responses:
        "402":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: Not enough credits.
        "202":
          content:
            application/json:
              example:
                checkId: b1588f66-1b12-4cef-9d4e-ab8fdf96b7bb
              schema:
                $ref: '#/components/schemas/CheckResult'
          description: "Input accepted: Wait for callback."
      security:
      - LICENSE-KEY: []
      summary: Check an id document with the AI.
      tags:
      - AI check operations
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/info/:
    get:
      description: Get the LicenseInfo schema for the given license key in the authorization
        header.
      operationId: getLicenseInfo
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: The entered license key was not found.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfo'
          description: successful operation.
      security:
      - LICENSE-KEY: []
      summary: Get information for the given license key.
      tags:
      - Balance endpoints
      x-accepts:
      - application/json
  /v2/cost/{configId}/{frames}:
    get:
      description: |-
        The cost is subtracted from the license key after a successful check operation for moving images.

        <b>NOTICE: The returned cost is an approximation. The exact cost can only be determined during the check operation.<b>
      operationId: getVideoCost
      parameters:
      - description: The configuration id from the Basic Configuration operations.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The number of frames that the AI should check.
        explode: false
        in: path
        name: frames
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: The cost of the given configuration
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: The ai could not handle the request because it is either overloaded
            or currently down for maintenance. This is a temporary state. A 'Retry-After'
            Header is included in the response to signal the client to retry after
            a certain amount of seconds.
      security:
      - LICENSE-KEY: []
      summary: Get the cost of the configuration for moving images.
      tags:
      - Balance endpoints
      x-accepts:
      - application/json
  /v2/cost/{configId}/{fps}/{duration}:
    get:
      description: |-
        The cost is subtracted from the license key after a successful check operation for moving images.

        <b>NOTICE: The returned cost is an approximation. The exact cost can only be determined during the check operation.<b>
      operationId: getVideoCost_1
      parameters:
      - description: The configuration id from the Basic Configuration operations.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The frames per second of the video or stream.
        explode: false
        in: path
        name: fps
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The duration in seconds of the video or stream.
        explode: false
        in: path
        name: duration
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: The cost of the given configuration.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: The ai could not handle the request because it is either overloaded
            or currently down for maintenance. This is a temporary state. A 'Retry-After'
            Header is included in the response to signal the client to retry after
            a certain amount of seconds.
      security:
      - LICENSE-KEY: []
      summary: Get the cost of the configuration for moving images.
      tags:
      - Balance endpoints
      x-accepts:
      - application/json
  /v2/cost/{configId}:
    get:
      description: The cost is subtracted from the license key after a successful
        check-image operation.
      operationId: getCost
      parameters:
      - description: The configuration id from the Basic Configuration operations.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: The cost of the given configuration.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: The ai could not handle the request because it is either overloaded
            or currently down for maintenance. This is a temporary state. A 'Retry-After'
            Header is included in the response to signal the client to retry after
            a certain amount of seconds.
      security:
      - LICENSE-KEY: []
      summary: Get the cost of the configuration for a single image.
      tags:
      - Balance endpoints
      x-accepts:
      - application/json
  /v2/config/{configId}:
    delete:
      description: Deletes the AI configuration with the given id.
      operationId: deleteConfig
      parameters:
      - description: The id of the configuration that should be deleted.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "204":
          description: successful operation.
      security:
      - LICENSE-KEY: []
      summary: Delete an AI configuration.
      tags:
      - Configuration Management
      x-accepts:
      - '*/*'
    get:
      description: Returns a specific AI configuration for the requested id.
      operationId: getConfig
      parameters:
      - description: The id of the configuration that is being requested.
        explode: false
        in: path
        name: configId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotice'
          description: configId not found.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
          description: successful operation.
      security:
      - LICENSE-KEY: []
      summary: Get a specific AI configuration.
      tags:
      - Configuration Management
      x-accepts:
      - application/json
components:
  schemas:
    Param:
      description: "A single parameter set for one classification, for example face,\
        \ describing the behaviour of the AI. Each classification has default parameters\
        \ that are set if these are empty."
      example:
        severity: 100
        min: 0
        drawMode: 4
        max: 0
        scale: 1.7656269
        ignore: false
        classification: face
        grey: 237
      properties:
        classification:
          description: |-
            The classification of the object, that the element refers to. The following is a tree representation of the prototypes and their containing classifications. Default parameter values are defined per classification object. The default values of 'min', 'max' and 'drawMode' are witten after the name of the classification object in that order. Use the prototype names to set parameters to all of the containing classifications.
            ##### nudityCheck
            > _A prototype containing classifications for basic human attributes and sexual contents. This prototype and the containing classifications are activated by default_
            * _face_ _(1, 3, 0)_
            * _hand_ _(0, -1, 0)_
            * _foot_ _(0, -1, 0)_
            * _footwear_ _(0, -1, 0)_
            * _chest_ _(0, -1, 0)_
            * _breast_ _(0, 0, 2)_
            * _vulva_ _(0, 0, 2)_
            * _penis_ _(0, 0, 2)_
            * _vagina_ _(0, 0, 2)_
            * _buttocks_ _(0, 0, 2)_
            * _anus_ _(0, 0, 2)_
            * _toy_ _(0, -1, 0)_
            * _oral_ _(0, 0, 2)_
            * _penetration_ _(0, 0, 2)_
            * _bondage_ _(0, -1, 0)_
            * _gag_ _(0, -1, 0)_
            ##### ageEstimation
            > _Contains classification objects for estimating the age of a human face. This prototype activates nudityCheck_
            * _child (*)_ _(0, 0, 6)_
            * _adult (*)_ _(0, -1, 0)_
            * _senior (*)_ _(0, -1, 0)_
            * _pose_ _(0, 0, 0)_ - The age can not be estimated, due to a pose that hides facial features.
            ##### attributesCheck
            > _Contains classification objects for various attributes of the human face. This prototype activates nudityCheck_
            * _female (*)_ _(0, -1, 0)_
            * _male (*)_ _(0, -1, 0)_
            * _hair_ _(0, -1, 0)_
            * _hairless_ _(0, -1, 0)_
            * _beard_ _(0, -1, 0)_
            * _moustache_ _(0, -1, 0)_
            * _headpiece_ _(0, -1, 0)_
            * _glasses_ _(0, -1, 0)_
            * _sunglasses_ _(0, -1, 0)_
            * _mask_ _(0, -1, 0)_
            * _slimSizedFace (*)_ _(0, -1, 0)_
            * _realSizedFace (*)_ _(0, -1, 0)_
            * _plusSizedFace (*)_ _(0, -1, 0)_
            ##### nippleCheck
            > _Contains classifications for determining if the object recognized as breast has a nipple. This prototype activates nudityCheck_
            * _noNipple_ _(0, -1, 0)_
            * _hasNipple_ _(0, 0, 0)_
            ##### bodyAttributes
            > _Contains classification objects for determining the body size._
            * _slimSized_ _(0, -1, 0)_
            * _realSized_ _(0, -1, 0)_
            * _plusSized_ _(0, -1, 0)_
            ##### illegalSymbols
            > _Contains various classification objects of symbols that are prohibited in Germany (e.g. Hakenkreuz, SS, etc). These are grouped under a single name_
            * _illegalSymbols_ _(0, 0, 1)_
            ##### unwantedSubstances
            > _Contains classification objects for different substances._
            * _beer_ _(0, -1, 0)_
            * _beerBottle_ _(0, -1, 0)_
            * _beerCan_ _(0, -1, 0)_
            * _wine_ _(0, -1, 0)_
            * _wineBottle_ _(0, -1, 0)_
            * _cocktail_ _(0, -1, 0)_
            * _alcohol_ _(0, -1, 0)_
            * _cannabis_ _(0, 0, 0)_
            * _cigarette_ _(0, 0, 0)_
            * _cocaine_ _(0, 0, 0)_
            * _heroine_ _(0, 0, 0)_
            * _coffee_ _(0, -1, 0)_
            ##### violenceCheck
            > _Contains classification objects for violent items or acts._
            * _camouflage_ _(0, -1, 0)_
            * _club_ _(0, -1, 0)_
            * _knife_ _(0, 0, 0)_
            * _sword_ _(0, 0, 0)_
            * _pistol_ _(0, 0, 0)_
            * _rifle_ _(0, 0, 0)_
            * _cannon_ _(0, 0, 0)_
            * _fire_ _(0, -1, 0)_
            ##### selfieCheck
            > _Classification objects representing various pre-defined poses for the selfie task._
            * _hand2mouth_ _(0, 1, 0)_
            * _point2nose_ _(0, 1, 0)_
            * _relaxed_ _(0, 1, 0)_
            * _point2chin_ _(0, 1, 0)_
            * _hand2cheek_ _(0, 1, 0)_
            * _excellent_ _(0, 1, 0)_
            * _nice_ _(0, 1, 0)_
            * _thinking_ _(0, 1, 0)_
            * _thumbUp_ _(0, 1, 0)_
            * _victory_ _(0, 1, 0)_
            * _lookout_ _(0, 1, 0)_
            * _fingerUp_ _(0, 1, 0)_
            * _middleFinger_ _(0, 0, 0)_
            ##### textRecognition
            > _Contains letters, numbers and some symbols (e.g. @, #, etc) as classification objects. These are grouped under a single name_
            * _textRecognition_ _(0, 6, 6)_

            _Classification objects that are marked with (*) are sub-classifications of face. Both face and the marked classification are affected by the given parameter values._

            _Please be aware that the default values can be subject to change. This is due to the difficulty of recognizing certain objects e.g. objects that are classified as toy._
          enum:
          - face
          - hand
          - foot
          - footwear
          - chest
          - breast
          - vulva
          - penis
          - vagina
          - buttocks
          - anus
          - oral
          - penetration
          - toy
          - bondage
          - gag
          - child
          - adult
          - senior
          - pose
          - female
          - male
          - hair
          - hairless
          - beard
          - moustache
          - headpiece
          - glasses
          - sunglasses
          - mask
          - slimSizedFace
          - realSizedFace
          - plusSizedFace
          - slimSized
          - realSized
          - plusSized
          - noNipple
          - hasNipple
          - beer
          - beerBottle
          - beerCan
          - wine
          - wineBottle
          - cocktail
          - alcohol
          - cannabis
          - cigarette
          - cocaine
          - heroine
          - coffee
          - camouflage
          - club
          - knife
          - sword
          - pistol
          - rifle
          - cannon
          - fire
          - hand2mouth
          - point2nose
          - relaxed
          - point2chin
          - hand2cheek
          - excellent
          - nice
          - thinking
          - thumbUp
          - victory
          - lookout
          - fingerUp
          - middleFinger
          - nudityCheck
          - ageVerification
          - ageEstimation
          - illegalSymbols
          - textRecognition
          - attributesCheck
          - bodyAttributes
          - nippleCheck
          - unwantedSubstances
          - violenceCheck
          - selfieCheck
          example: face
          type: string
        min:
          description: The minimum amount of objects allowed on the image. Setting
            the value to -1 will cause the AI to ignore this rule. For moving images
            this value is applied to a single frame.
          format: int32
          minimum: -1
          type: integer
        max:
          description: The maximum amount of objects allowed on the image. Setting
            the value to -1 will cause the AI to ignore this rule. For moving images
            this value is applied to a single frame.
          format: int32
          minimum: -1
          type: integer
        severity:
          default: 100
          description: Set a value to define the severity of a broken rule of the
            given classification object.
          example: 100
          format: int32
          maximum: 999
          minimum: 0
          type: integer
        drawMode:
          description: "Set if and how a classification object should be drawn over.\
            \ \n* _0_ - will draw nothing,\n* _1_ - will draw a frame with class name\
            \ surrounding the object,\n* _2_ - will draw a filled rectangle that will\
            \ mask the object,\n* _3_ - is a combination between _1_ and _2_ (frame/name\
            \ + mask),\n* _6_ - will blur the object and\n* _7_ - is a combination\
            \ between _1_ and _6_ (frame/name + blur)."
          format: int32
          maximum: 7
          minimum: 0
          type: integer
        grey:
          default: 127
          description: "A grey scale color used in combination of _drawMode_ '2' or\
            \ '3'. '0' will represent black, while the maximum '255' will be white."
          format: int32
          maximum: 255
          minimum: 0
          type: integer
        scale:
          default: 1.0
          description: Scale of the bounds around the classification object. Specify
            a value to increase or decrease the size of the bounds. This is applied
            to the resulting media as well as the JSON coordinates.
          format: float
          maximum: 4.0
          minimum: 0.5
          type: number
        ignore:
          default: false
          description: "A shorthand to ignore the classification object. This is equal\
            \ to setting _min=0_, _max=-1_ and _drawMode=0_."
          type: boolean
      required:
      - classification
      type: object
    ParamSet:
      description: A set of parameters/rules that describe how the AI should behave.
      example:
        minDuration: 79
        abortOnSeverity: 0
        params:
        - severity: 100
          min: 0
          drawMode: 4
          max: 0
          scale: 1.7656269
          ignore: false
          classification: face
          grey: 237
        - severity: 100
          min: 0
          drawMode: 4
          max: 0
          scale: 1.7656269
          ignore: false
          classification: face
          grey: 237
        thresh: 0.08008282
        grey: 153
      properties:
        thresh:
          default: 0.5
          description: "Threshold when an object can be recognized. Lowering the value\
            \ will increase the probability of recognizing objects. A threshold of\
            \ 0.5 would mean, that 50% of an object like a face must be visible, to\
            \ be detected.Setting the value too low however, can cause false positives."
          format: float
          maximum: 1.0
          minimum: 0.0
          type: number
        grey:
          default: 127
          description: "A grey scale color to use for frame or masking. '0' will represent\
            \ black, while the maximum '255' will be white."
          format: int32
          maximum: 255
          minimum: 0
          type: integer
        minDuration:
          default: 100
          description: Set the overall minimum duration in milliseconds for a rule
            to be broken in moving images.
          format: int32
          maximum: 250
          minimum: 50
          type: integer
        abortOnSeverity:
          default: -1
          description: Set a severity on which to automatically stop the check operation.
            Works with moving images.Use '-1' to ignore this option.
          format: int32
          minimum: -1
          type: integer
        params:
          description: A list of parameter sets that describe the rules of the objects.
          items:
            $ref: '#/components/schemas/Param'
          type: array
      type: object
    ApiNotice:
      example:
        code: 418
        level: WARN
        message: "Here´s an example of what I can do, I can turn my handle into a\
          \ spout, Tip me over and pour me out!"
      properties:
        code:
          description: The status code of the response.
          example: 418
          format: int32
          type: integer
        level:
          description: The severity level of the notice.
          enum:
          - INFO
          - WARN
          - ERROR
          example: WARN
          type: string
        message:
          description: A hopefully detailed message describing what went wrong.
          example: "Here´s an example of what I can do, I can turn my handle into\
            \ a spout, Tip me over and pour me out!"
          type: string
      type: object
      xml:
        name: error
    Config:
      description: Can be used to set a multitude of pre-defined commonly used rules
        without the need of specifying each parameter set.
      example:
        prototypes:
        - nudityCheck
        - nudityCheck
        kycCheckParameters:
        - identityDocumentCheck
        - identityDocumentCheck
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: The unique identifier for the AI configuration. Use this for
            any check operation to tell the AI how to behave.
          format: uuid
          type: string
        prototypes:
          description: "Configures your detection. As there are literally hundreds\
            \ of parameters, prototypes can be used to get useful behaviour. This\
            \ includes a default setting for parameters and rules that should be applied\
            \ to the check operations. You can use multiple prototypes for a single\
            \ check operation."
          items:
            description: |
              Name of commonly used rule sets (prototypes). That can be used to speed up the setup process.
              * _nudityCheck_ - Commonly used prototype to check for nudity.
              * _ageEstimation_ - Checks if there are children, adults or seniors recognizable. This is intended to be a suggestion to help you implement further steps.
              * _illegalSymbols_ - Checks for symbols that are not permitted in Germany.
              * _textRecognition_ - Checks for text occurrences.
              * _attributesCheck_ - Checks for attributes of a person (e.g. female, male, glasses, hair, etc).
              * _bodyAttributes_ - Checks for attributes of the persons body.
              * _nippleCheck_ - Check for determining if the object recognized as breast has a nipple.
              * _unwantedSubstances_ - Check for undesired or unwanted substances.
              * _violenceCheck_ - Checks for recognizing weapons, camouflage, etc.
              * _selfieCheck_ - Checks for pre-defined gestures in a selfie.
            enum:
            - nudityCheck
            - ageVerification
            - ageEstimation
            - illegalSymbols
            - textRecognition
            - attributesCheck
            - bodyAttributes
            - nippleCheck
            - unwantedSubstances
            - violenceCheck
            - selfieCheck
            type: string
          type: array
          uniqueItems: true
        kycCheckParameters:
          description: Configures your kyc checks. You can combine certain parameters
            to customize a single check operation.
          items:
            description: |
              Names of kyc related parameters, that can be used to configure check behaviour.
              * _identityDocumentCheck_ - Checks for validity and integrity of an official document.
              * _automatedDocumentRecognition_ - Additional parameter for the identityDocumentCheck to enable automated document recognition.
              * _biometricCheck_ - Checks if the provided selfie matches the provided document. If used stand-alone the document holder has to be previously identified by an identityDocumentCheck
              * _formAutoFill_ - Performs an autofill for a given document image without performing a validity or integrity check.
              * _ageEstimation_ - Performs an age estimation for a provided selfie.
            enum:
            - identityDocumentCheck
            - automatedDocumentRecognition
            - biometricCheck
            - formAutofill
            - ageEstimation
            type: string
          type: array
          uniqueItems: true
      type: object
    Callback:
      description: Callback options to send a response to.
      example:
        headers:
          Authorization: Basic Rm9yemEgTmFwb2xpLCBzZW1wcmUh
        callbackUrl: http://www.example.com/callback?video
      properties:
        callbackUrl:
          description: Define a URL where a response should be sent.
          example: http://www.example.com/callback?video
          format: uri
          type: string
        headers:
          additionalProperties:
            description: Define headers to send to the URL.
            example: "{\"Authorization\":\"Basic Rm9yemEgTmFwb2xpLCBzZW1wcmUh\"}"
            type: string
          description: Define headers to send to the URL.
          example:
            Authorization: Basic Rm9yemEgTmFwb2xpLCBzZW1wcmUh
          type: object
      required:
      - callbackUrl
      type: object
    AgeEstimationAttribute:
      description: Attributes qualifying the _ageEstimation_ classification.
      properties:
        type:
          description: Used as a type discriminator for json to object conversion.
          example: BaseAttribute
          type: string
        age:
          description: The estimated age of the person in the selfie in years.
          format: int32
          type: integer
        ageMin:
          description: The estimated minimum age of the person in the selfie in years.
          format: int32
          type: integer
        ageMax:
          description: The estimated maximum age of the person in the selfie in years.
          format: int32
          type: integer
      type: object
    AgeEstimationDetection:
      allOf:
      - $ref: '#/components/schemas/BaseDetection'
      - properties:
          checkId:
            description: The id of the check that lead to the detection
            type: string
          faceSimilarity:
            description: Indicates the similarity-level of whether two faces belong
              to the same person
            format: int32
            type: integer
          faceLivenessCheckScore:
            description: Indicates the liveness score of the selfie image
            format: int32
            type: integer
          processedChecks:
            $ref: '#/components/schemas/AgeEstimationSubChecks'
          attributes:
            description: Attributes of the _idDocument_ detection.
            items:
              $ref: '#/components/schemas/AgeEstimationAttribute'
            type: array
        type: object
      description: Contains further characteristics particular to _ageEstimation_
        detection.
      type: object
    AgeEstimationSubChecks:
      description: Contains information on ageEstimation sub-checks
      properties:
        faceLivenessCheck:
          description: Indicates if the selfie image is genuine and not a photo of
            an image or of a screen
          enum:
          - passed
          - failed
          - not_processed
          type: string
        ageValidationCheck:
          description: Indicates if the estimated age is greater than or equal to
            a predefined minimum accepted age
          enum:
          - passed
          - failed
          - not_processed
          type: string
      type: object
    BaseAttribute:
      description: An attribute describes a quality or characteristic that a detection
        object has.
      discriminator:
        propertyName: type
      properties:
        classification:
          description: The classification of the recognized attribute.
          example: female
          type: string
        probability:
          description: The probability that the attribute found matches the classification.
          example: 94
          format: int32
          type: integer
        type:
          description: Used as a type discriminator for json to object conversion.
          example: BaseAttribute
          type: string
      type: object
    BaseDetection:
      anyOf:
      - $ref: '#/components/schemas/BaseDetection'
      - $ref: '#/components/schemas/FaceDetection'
      - $ref: '#/components/schemas/BreastDetection'
      - $ref: '#/components/schemas/HairDetection'
      - $ref: '#/components/schemas/IdDocumentDetection'
      - $ref: '#/components/schemas/AgeEstimationDetection'
      description: A detection describes the object found with all its details.
      discriminator:
        propertyName: type
      example:
        type: type
      properties:
        type:
          type: string
      required:
      - type
      type: object
    BreastDetection:
      allOf:
      - $ref: '#/components/schemas/BaseDetection'
      - properties:
          attributes:
            description: Attributes characterizing the _breast_ detection. Mainly
              contains attributes that were activated with the _nippleCheck_ prototype.
            items:
              $ref: '#/components/schemas/BaseAttribute'
            type: array
        type: object
      description: Contains further characteristics particular to _breast_ detection.
      type: object
    BrokenRule:
      description: Describes what and why a rule was broken according the the applied
        during the configuration.
      example:
        severity: 100
        duration: 8.32
        found: 1
        min: 1
        max: 1
        classification: face
        group: human
      properties:
        classification:
          description: The classification of the recognized object.
          example: face
          type: string
        group:
          description: The group of the classification.
          example: human
          type: string
        found:
          description: The count of how many instances of the classification object
            were found.
          example: 1
          format: int32
          type: integer
        min:
          description: The minimum allowed instances of the classification object.
          example: 1
          format: int32
          type: integer
        max:
          description: The maximum allowed instances of the classification object.
          example: 1
          format: int32
          type: integer
        severity:
          description: The severity of the classification object set while configuring
            the AI.
          example: 100
          format: int32
          type: integer
        duration:
          description: The overall duration of the found classification. Not available
            for still images.
          example: 8.32
          format: float
          type: number
      type: object
    CheckResult:
      description: The root object returned after a check operation.
      example:
        summary:
          severity: 100
          helpSuggested: 0
          brokenRulesCount: 0
          rejectTags:
          - rejectTags
          - rejectTags
          creditsConsumed: 3
          status: reject
          tags:
          - tags
          - tags
          rejectReasons:
          - rejectReasons
          - rejectReasons
        encodings:
        - data: ""
          name: name
          downloadUrl: downloadUrl
        - data: ""
          name: name
          downloadUrl: downloadUrl
        brokenRules:
        - severity: 100
          duration: 8.32
          found: 1
          min: 1
          max: 1
          classification: face
          group: human
        - severity: 100
          duration: 8.32
          found: 1
          min: 1
          max: 1
          classification: face
          group: human
        checkId: checkId
        events:
        - duration: 3.12
          severity: 100
          start: 8.32
          classification: face
          group: human
        - duration: 3.12
          severity: 100
          start: 8.32
          classification: face
          group: human
        notifications:
        - code: 418
          level: WARN
          message: "Here´s an example of what I can do, I can turn my handle into\
            \ a spout, Tip me over and pour me out!"
        - code: 418
          level: WARN
          message: "Here´s an example of what I can do, I can turn my handle into\
            \ a spout, Tip me over and pour me out!"
        detections:
        - type: type
        - type: type
      properties:
        summary:
          $ref: '#/components/schemas/Summary'
        encodings:
          items:
            $ref: '#/components/schemas/Encoded'
          type: array
        brokenRules:
          items:
            $ref: '#/components/schemas/BrokenRule'
          type: array
        detections:
          items:
            $ref: '#/components/schemas/BaseDetection'
          type: array
        events:
          items:
            $ref: '#/components/schemas/Event'
          type: array
        notifications:
          items:
            $ref: '#/components/schemas/ApiNotice'
          type: array
        checkId:
          description: The id of the async running check
          type: string
      type: object
    Encoded:
      description: Contains the resulting media as base64 encoded string or an URL
        to download that media.
      example:
        data: ""
        name: name
        downloadUrl: downloadUrl
      properties:
        name:
          deprecated: true
          description: <s>The original filename of the image or video.</s> Contains
            a randomly generated filename. <b>This property will be removed in future
            releases.</b>
          type: string
        data:
          description: The encoded image in base64 format.
          format: binary
          type: string
        downloadUrl:
          description: A one time URL to download the resulting video. The URL is
            only valid for 24 hours.
          type: string
      type: object
    Event:
      description: Describes an event that lead to a broken rule.
      example:
        duration: 3.12
        severity: 100
        start: 8.32
        classification: face
        group: human
      properties:
        classification:
          description: The classification of the recognized object.
          example: face
          type: string
        group:
          description: The group of the classification.
          example: human
          type: string
        start:
          description: The start in seconds where the classification object is found.
          example: 8.32
          format: float
          type: number
        duration:
          description: The duration of the event in seconds until the classification
            object is no longer in frame. The current event is ongoing if the duration
            is not set.
          example: 3.12
          format: float
          type: number
        severity:
          description: The severity of the classification object set while configuring
            the AI.
          example: 100
          format: int32
          type: integer
      type: object
    FaceDetection:
      allOf:
      - $ref: '#/components/schemas/BaseDetection'
      - properties:
          attributes:
            description: Attributes characterizing the _face_ detection. Mainly contains
              attributes that were activated with the _ageEstimation_ prototype.
            items:
              $ref: '#/components/schemas/BaseAttribute'
            type: array
          subDetections:
            description: A set of sub-detection that are particular to the _face_
              detection. Mainly contains detections that were activated with the _attributesCheck_
              prototype.
            items:
              $ref: '#/components/schemas/BaseDetection'
            type: array
        type: object
      description: Contains further characteristics particular to _face_ detection.
      type: object
    HairAttribute:
      description: Attributes qualifying the _hair_ classification.
      properties:
        type:
          description: Used as a type discriminator for json to object conversion.
          example: BaseAttribute
          type: string
        color:
          description: The color of the hair.
          enum:
          - black
          - brown
          - blonde
          - grey
          - red
          - other
          type: string
        style:
          description: The hair style.
          enum:
          - longHaired
          - shortHaired
          type: string
      type: object
    HairDetection:
      allOf:
      - $ref: '#/components/schemas/BaseDetection'
      - properties:
          attributes:
            description: Contains attributes for the _hair_ classification.
            items:
              $ref: '#/components/schemas/HairAttribute'
            type: array
        type: object
      description: Contains further characteristics particular to _hair_ detection.
      type: object
    IdDocumentAttribute:
      description: Attributes qualifying the _idDocument_ classification.
      properties:
        type:
          description: Used as a type discriminator for json to object conversion.
          example: BaseAttribute
          type: string
        documentType:
          description: The type of the document
          enum:
          - passport
          - driving_license
          - national_identity_card
          - residence_permit
          - visa
          - unknown
          example: national_identity_card
          type: string
        documentNumber:
          description: The number of the document
          type: string
        isTwoSided:
          description: Indicates whether the document is two-sided
          type: boolean
        issuingAuthority:
          description: The issuing authority
          type: string
        issuingDate:
          description: The issuing date
          format: date
          type: string
        issuingCountry:
          description: The document's country in ISO 3166-1 alpha-2 format
          example: DE
          type: string
        expirationDate:
          description: The expiration date
          format: date
          type: string
        accessNumber:
          description: The access number
          type: string
        firstNames:
          description: The document holder's first name(s)
          items:
            description: The document holder's first name(s)
            type: string
          type: array
        lastNames:
          description: The document holder's last name(s)
          items:
            description: The document holder's last name(s)
            type: string
          type: array
        birthName:
          description: The document holder's birth name
          type: string
        dateOfBirth:
          description: The document holder's date of birth
          format: date
          type: string
        placeOfBirth:
          description: The document holder's place of birth
          type: string
        nationality:
          description: The document holder's nationality in ISO 3166-1 alpha-2 format
          example: DE
          type: string
        gender:
          description: The document holder's gender
          enum:
          - male
          - female
          - other
          example: male
          type: string
        height:
          description: The document holder's height
          type: string
        address:
          description: The document holder's address
          type: string
        machineReadableZone:
          description: "The document's machine readable zone (MRZ), at most 3 lines"
          items:
            description: "The document's machine readable zone (MRZ), at most 3 lines"
            type: string
          type: array
      type: object
    IdDocumentDetection:
      allOf:
      - $ref: '#/components/schemas/BaseDetection'
      - properties:
          checkId:
            description: The id of the check that lead to the detection
            type: string
          hasOfficialDocument:
            description: Indicates whether the identified document is official
            type: boolean
          comparable:
            description: Indicates whether the provided selfie-image is comparable
              to the document
            type: boolean
          faceSimilarity:
            description: Indicates the similarity-level of whether two faces belong
              to the same person
            format: int32
            type: integer
          faceLivenessCheckScore:
            description: Indicates the liveness score of the selfie image
            format: int32
            type: integer
          documentFrontLivenessScore:
            description: Indicates the liveness score of the front side image of the
              document
            format: int32
            type: integer
          documentBackLivenessScore:
            description: Indicates the liveness score of the back side image of the
              document
            format: int32
            type: integer
          processedChecks:
            $ref: '#/components/schemas/IdDocumentSubChecks'
          attributes:
            description: Attributes of the _idDocument_ detection.
            items:
              $ref: '#/components/schemas/IdDocumentAttribute'
            type: array
          documentHolderId:
            description: The id of the documentHolder
            type: string
        type: object
      description: Contains further characteristics particular to _idDocument_ detection.
      type: object
    IdDocumentSubChecks:
      description: Contains information on idDocument sub-checks
      properties:
        mrzChecksum:
          description: Indicates whether the MRZ checksum is correct
          enum:
          - passed
          - failed
          - not_processed
          type: string
        mrzFormat:
          description: Indicates whether the MRZ format is correct
          enum:
          - passed
          - failed
          - not_processed
          type: string
        mrzConsistency:
          description: Indicates whether the MRZ is consistent with the document type
          enum:
          - passed
          - failed
          - not_processed
          type: string
        expirationDate:
          description: Indicates whether the expirationDate is valid
          enum:
          - passed
          - failed
          - not_processed
          type: string
        securityElements:
          description: Indicates whether the document's security elements are valid
          enum:
          - passed
          - failed
          - not_processed
          type: string
        photoLocation:
          description: Indicates whether the photo is in the correct location for
            a given document type
          enum:
          - passed
          - failed
          - not_processed
          type: string
        blacklistCheck:
          description: Indicates whether a competent authority deny-listed the ID
            document
          enum:
          - passed
          - failed
          - not_processed
          type: string
        photocopyCheck:
          description: Indicates whether the document is a photocopy
          enum:
          - passed
          - failed
          - not_processed
          type: string
        specimenCheck:
          description: Indicates whether the document has been copied from the Internet
          enum:
          - passed
          - failed
          - not_processed
          type: string
        documentModelIdentification:
          description: Indicates whether the document model has been identified
          enum:
          - passed
          - failed
          - not_processed
          type: string
        documentLivenessCheck:
          description: Indicates if the document image is genuine and not a photo
            of an image or of a screen
          enum:
          - passed
          - failed
          - not_processed
          type: string
        spoofedImageAnalysis:
          description: "Indicates whether the selfie image is spoofed, copied from\
            \ the Internet, or is a known deny-listed image"
          enum:
          - passed
          - failed
          - not_processed
          type: string
        faceLivenessCheck:
          description: Indicates if the selfie image is genuine and not a photo of
            an image or of a screen
          enum:
          - passed
          - failed
          - not_processed
          type: string
      type: object
    Summary:
      description: Summarizing the result of the AI.
      example:
        severity: 100
        helpSuggested: 0
        brokenRulesCount: 0
        rejectTags:
        - rejectTags
        - rejectTags
        creditsConsumed: 3
        status: reject
        tags:
        - tags
        - tags
        rejectReasons:
        - rejectReasons
        - rejectReasons
      properties:
        status:
          description: A simple status string that can be either _accept_ or _reject_.
          example: reject
          type: string
        brokenRulesCount:
          description: The amount of broken rules that are contained in the source
            media.
          example: 0
          format: int32
          type: integer
        helpSuggested:
          description: "In cases where the AI is uncertain, this attribute is set\
            \ (1), indication that it could be useful to double check the source media\
            \ by a human."
          example: 0
          format: int32
          type: integer
        severity:
          description: The highest severity value found amongst the broken rules.
          example: 100
          format: int32
          type: integer
        creditsConsumed:
          description: The amount of credits that was consumed for the check.
          example: 3
          format: int32
          type: integer
        tags:
          description: A list of classification names that were found.
          items:
            description: A list of classification names that were found.
            type: string
          type: array
          uniqueItems: true
        rejectTags:
          description: A list of classification names that caused a rule to be broken.
          items:
            description: A list of classification names that caused a rule to be broken.
            type: string
          type: array
          uniqueItems: true
        rejectReasons:
          description: The names of the classification groups that caused a rule to
            be broken.
          items:
            description: The names of the classification groups that caused a rule
              to be broken.
            type: string
          type: array
          uniqueItems: true
      type: object
    Data:
      description: The data to be checked.
      example:
        data: https://example.com/path/to/your/image.png
      properties:
        data:
          description: The http(s) url or base64 encoded data uri of the image that
            needs to be checked.
          example: https://example.com/path/to/your/image.png
          type: string
      required:
      - data
      type: object
    DocumentCheckRequestData:
      example:
        frontImage: frontImage
        documentType: national_identity_card
        callback:
          headers:
            Authorization: Basic Rm9yemEgTmFwb2xpLCBzZW1wcmUh
          callbackUrl: http://www.example.com/callback?video
        documentCountry: DE
        backImage: backImage
        selfieImage: selfieImage
      properties:
        callback:
          $ref: '#/components/schemas/Callback'
        frontImage:
          description: The base64 encoded front image of the document to be checked
            in either jpg or png file format
          type: string
        backImage:
          description: The base64 encoded back image of the document to be checked
            in either jpg or png file format
          type: string
        selfieImage:
          description: The base64 encoded selfie image to be checked in either jpg
            or png file format
          type: string
        documentType:
          description: The type of the document
          enum:
          - passport
          - driving_license
          - national_identity_card
          - residence_permit
          - visa
          - unknown
          example: national_identity_card
          type: string
        documentCountry:
          description: The document's country in ISO 3166-1 alpha-2 format
          example: DE
          type: string
      required:
      - callback
      - frontImage
      type: object
    LicenseInfo:
      description: "Describes the current balance of the given license key. A key\
        \ has a certain amount of credits that can be used for any kind of AI recognition.\
        \ The license key is invalid, when all of the credits have been used, the\
        \ license was disabled or expired."
      example:
        creditsUsed: 14
        creditsRemaining: 86
        totalCredits: 100
        licenseKey: ABc-123-DeF-456
        privileges:
          has-video-privilege: "true"
          has-stream-privilege: "false"
          max-config-storage: "10"
      properties:
        creditsUsed:
          description: Credits used for the license key.
          example: 14
          format: int32
          type: integer
        creditsRemaining:
          description: Credits remaining for the license key.
          example: 86
          format: int32
          type: integer
        totalCredits:
          description: Total credits contained within the license key.
          example: 100
          format: int32
          type: integer
        licenseKey:
          description: The license key
          type: string
        privileges:
          additionalProperties:
            description: A map of privileges
            type: string
          description: A map of privileges
          type: object
      title: LicenseInfo
      type: object
      xml:
        name: info
    Pricing:
      description: Contains information about the credit cost of a check operation.
      example:
        cost: 0
      properties:
        cost:
          format: int64
          type: integer
      type: object
  securitySchemes:
    LICENSE-KEY:
      description: License Key access
      in: header
      name: LICENSE-KEY
      type: apiKey

